body{
   margin: 0px;
   background-image: url(http://localhost/hw1/interlaced.png);
}
main{
    display: flex; 
    justify-content: center;
    margin: 30px 200px 30px 200px; 
    border-top: 2px solid grey;
    padding-top: 15px;
    font-size: 24px;
    color: rgb(25, 64, 97);
}
header{
    display: flex;
    justify-content: center;
    background-image: url(https://www.mantovasitiweb.it/images/slider2.jpg);
}
input{
    font-size: 18px;
    padding: 5px;
    margin-left: 35px;
}
h1{
    font-size: 48px;
    font-family: 'Roboto Slab', serif;
    color: brown;
    
}
p{
    margin: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}
label{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#button-cont {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
}
#alert{
    color: rgb(221, 0, 0);
    font-family: 'Source Sans Pro', sans-serif;
    border: 2px solid red;
    background-color: rgb(252, 101, 101);
    padding: 10px;
    margin: 0px 250px 0px 250px;
    font-size: 24px;
    text-align: center;
}
.hidden{
    display: none;
}
.incorrect{
    border: 1px solid red;
}
.correct{
    border: 1px solid green;
}
#user-exist-cont img{
    width: 30%;
    height: 30%;
    margin-right: -50px;
    margin-bottom:-1px; 
}
a{
    text-align: center;
    margin-left: 15px;
    font-size: 15px;
}
@media (max-width: 1125px) { 
    h1 { 
        font-size: 35px;
    }
}
@media (max-width: 815px) { 
    h1 { 
        font-size: 25px;
    }
}
@media (max-width: 581px) { 
    h1 { 
        font-size: 18px;
    }
}